body {
    background-image: url(../Assets/donationPageBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.message p {
    color: white;
    padding: 0 2rem 1rem 2rem;
    font-size: 1.2vw;
}
.donation h1 {
    color: white;
    text-align: center;
}
.main {
    max-width: 80%;
    margin: 6rem auto 6rem auto;
    display: flex;
}
.message {
    flex: 1;
    background-color: #f97169;
    border-radius: 25px;
}
.donation {
    background-color: #cc2c67;
    flex: 1;
    border-radius: 25px;
    padding-top: 3%;
}
.image {
    display: block;
    border-radius: 20px;
    margin: 2rem 0 2rem 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.donation p {
    color: white;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 1.2vw;
}
.donation input {
    display: inline-block;
    margin: 2rem auto;
    border: 2px solid #3e185d;
    background-color: #fa7268;
    border-radius: 20px;
    padding: 1rem;
    margin-left: 3rem;
    caret-color: white;
    color: white;
    text-align: center;
}
::placeholder {
    color: white;
}
.choices {
    display: flex;
    justify-content: space-evenly;
}
.choice {
    border-radius: 25px;
    border-style: none;
    border: 2px solid #120e2b;
    background-color: #f97169;
    border-color: none;
}
#willing {
    display: inline-block;
    margin-left: 20%;
}
.choice p {
    color: white;
    padding: 0.5rem;
    margin: 0;
}
.button {
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #3e185d;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem auto;
    border-style: none;
    border: 2px solid #120e2b;
}
.button p {
    margin: 0 auto;
    max-width: 5rem;
}
.button:hover {
    animation-name: button-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: 2px solid #120e2b;
}
@keyframes button-hover {
    100% {
        border-color: #fa7268;
        background-color: #fa7268;
        border: 2px solid #120e2b;
    }
}
